<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrivateNugetEndpoint" value="[YOUR_NUGET_ENDPOINT]" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateNugetEndpoint>
      <add key="Username" value="[YOUR_USERNAME]" />
      <add key="ClearTextPassword" value="[YOUR_PASSWORD]" />
    </PrivateNugetEndpoint>
  </packageSourceCredentials>
</configuration>